<%= @shop.name %>
<li><%= form_tag import_shops_path, multipart: true do %>
  <%= hidden_field_tag :shop_id, @shop.id %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %></li>
  <% end %>
<br><br>
<% @items.each do |item| %>
<div class="col-lg-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%=link_to item.name, item_path(item) %></li>
      <li><%= item.description %></li>


    </ul>
  </div><!--/.well -->
  <% # TODO need to pass local variables to partial %>
  <%= render partial: 'shops/stripe_button', locals: { item: item }%>
</div><!--/span-->
<% end %>
