<tr>
  <td><%= item.name %></td>
  <td><%= item.review.first %></td>
  <td><%= link_to 'Show', @review %></td>
  <td><%= link_to 'Edit', edit_person_path(person) %></td>
  <td><%= link_to 'Destroy', @review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
