<div class="col-lg-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <%= image_tag @item.image.url(:medium) %>
      <li><%= @item.name %></li>
      <li><%= @item.description %></li>
      <li><%= @item.price %></li>
      <% if current_user %>
        <% if policy(@item).edit? %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_shop_item_path(@item, @shop), :class => 'btn btn-default btn-xs' %>
        <% end %>
        <% if policy(@item).destroy? %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          shop_item_path(@item, @shop),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' %>
        <% end %>
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->




<%= @reviews %>


<!--trying out AJAX -->
<table class='table' id='people_table'>
  <thead>
    <tr>
      <th>Review</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <%# Render table row partial for each review object %>
      <%= render partial: 'table_row', locals: {review: review} %>
    <% end %>
  </tbody>
</table>

<br>

<%# Added Bootstrap data modal attribute %>
<%= link_to 'New review', '#new_review_modal', 'data-toggle' => 'modal' %>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_review_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new review</h4>
      </div>
      <div class="modal-body">
        <%# Render the new review form (passing modal => true to enable remote => true) %>
        <%= render 'review_form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--end AJAX -->




<p style="padding-left:15px;">
  <%= link_to shop_path(@shop), class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Return to Shop
  <% end %>
</p>
